html{
    background-color: #222;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
/* nav a:hover:not(#brand){
    color: #12CBC4;
} */
.arrow {
    border: solid #ffffff;
    position: relative;
    left: 50%;
    top: 40vh;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 0;
    
  animation: iconMove;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }  
  @keyframes iconMove {
    0%{top: 40vh}
    50%{top: 42vh}
    100%{top: 40vh}
  }
  @media(max-width: 768px){
    .arrow {
        border: solid #ffffff;
        position: relative;
        left: 50%;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        margin: 0;
        
      animation: iconMove;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      }
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }  
      @keyframes iconMove {
        0%{top: 40vh}
        50%{top: 43vh}
        100%{top: 40vh}
      }
  }
